@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');


.set-frame-package
{
  width: 64%;
  padding-left:3%;
  margin-top: 70px;
}

.packagemanage-box
{
  background-color: #f3ece7;
  border-radius: 12px;
  font-family: 'Quicksand', sans-serif; 
  font-size: 17px;
  color: #7b7b7b; 
  position: relative;
  padding: 17px 5% 17px 5% ;
  margin-top: 30px;
}

.card-package
{
  margin: 12px 2% 12px 2%; 
  padding: 0 15px 0 15px;  
}

.card-last-package
{
  margin: 12px 10px 12px 10px; 
  padding: 0 20px 0 20px;
}

.col-set
{
  width:25%;
}

.card-pack-img
{
  margin: 10px 0 10px 0;
  padding: 0 7px 0 7px;
}

.card-img
{
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
}

.btn-shownutrition
{
    background-color: #e4dac2;
    color: #7b7b7b;
    font-size: 16px;
    margin: 20px;
    font-weight: bold;
}