@media only screen{
    .menuzone{
        display: grid;
        width: 100%;
        justify-content: center;  
        align-content: center; 
        
        grid-template-columns: 12.5% 75% 12.5%;
        /* grid-template-rows: 50% 50%; */
        margin: 3% 0;
    }
    
    .full-height {
        height: 100% !important;
    }

    .mergerow--left{
        cursor: pointer;
        /* grid-area: 1/1/3/2; */
        align-self: center;
    
    }
    
    .mergerow--right{
        cursor: pointer;
        /* grid-area: 1/3/3/4; */
        align-self: center;
    }

    .menuzone--padding{
        padding: 0;
    }

    .menuzone__image--fix{
        margin: 10px 0;
    }

    .cardcartbox--delete{
        cursor: pointer;
    }

    .center{
        margin: 0 auto 0 auto;
    }

    .full {
        width: 100%;
        margin: 0 auto;
    }
}
