.payment__cardnumber{
    
}

.payment__box--position{
   /* text-align: center;
   display: block;
   margin: auto; */
}

.payment__box__container{
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    width: 60%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 2%;
    color: black;
    background-color: #f3ece7;
    border-radius: 8px;
}
