@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@media only screen {
    * {
        box-sizing: border-box;
    }

    .cardmenu__text{
        font-family: 'Quicksand', sans-serif;
        font-size: 13px;
        margin-left: 25%;
        /* padding-left: 40%; */
        text-align: center;
    }
    
    .menu {
        display: grid;
      }
    
    .cardmenu__image{    
        cursor: pointer;
        width: 17em;
        text-align: center;
        /* grid-column: 1 / 3; */
    }
    
    .cardmenu__image--border{
        border-radius: 8px;
    }
    
    .cartmenu__cart{
        cursor: pointer;
        margin-right: 50%;
        /* padding-right: 60%; */
    }
    
    .cartmenu__button__delete{
        cursor: pointer;
        margin-right: 50%;
        /* padding-right: 60%; */
    }
    
    div.inline{
        float: left;
    }
    
    .cardmenu__undermenu--minwidth{
        width: 280px;
    }
}
