@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

.textundermenu{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    float: left;
}

.cardmenu__block{    
    grid-column: 1 / 3;
}

.cardmenu__image{
    border-radius: 8px;
}

.cartbutton{
    cursor: pointer;
    padding-left: 15px;
    float: left;
}

.undermenu {
    display: inline-block;
    /* grid-template-rows: 100% 20px; */
    text-align: center;
    /* vertical-align:top; */
}

.menu {
    display: grid;
    grid-gap: 10px;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    
    grid-template-columns: 200px 100px;
    grid-template-rows: 100% 20px;
  }
