@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

.textunderpicture{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

img{
    object-fit: cover;
    border-radius: 8px;
}
