@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

.outside--box{
  background-color: #f3ece7;
  position: fixed;
  right: 0px;
  top: -10px;
  /* float: right; */
  margin-top: 75px;
  margin-right: 20px;
  margin-bottom: 50px;
  width: 30%;
  /* height: 525px; */
  /* border-radius: 10px; */
  font-family: 'Quicksand', sans-serif;  
}

.test--drop__box{
  float: left;
  margin: 50px;
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 10px;
  text-align: center;
}

.after--drop{
  float: left;
  margin: 50px;
  width: 100px;
  height: 100px;
}

.setnavtab{
  background-color: #f3ece7;  
  width: 47%;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}