.package-home {
  display: inline;
}

.box-left{
  background-color: #f3ece7;
  margin: 10% 2% 10% 18%;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  overflow-x: hidden;
  /* left: 50%;
  transform: translateX(-50%); */
}

.box-right{
  background-color: #f3ece7;
  margin: 10% 18% 10% 2%;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  overflow-x: hidden;
  /* left: 50%;
  transform: translateX(-50%); */
}

.button--pack{
  font-size: large;
  font-weight: bold;
  margin: 5%;
  background-color: #e4dac2;
  text-transform: uppercase;
}

.desc--text{
  margin: 5%;
}

.package__img__box{
  margin-top: 5%;
  width: 70%;
}