
.box{
  background-color: #f3ece7;
  margin: 10%;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}

.topic--text{
  font-size: larger;
  font-weight: bold;
  margin: 5%;
  background-color: #e4dac2;
}

.desc--text{
  margin: 5%;
}
