.menudetail{
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    padding-bottom: 5%;
}
.menudetail__outside{
    margin-top: 6%;
}

.menudetail__homebutton{
    padding-left: 1.5%;
    font-size: 12px;
    font-weight: bold;
}

.menudetail__menuname{
    font-size: 25px;
    font-weight: bold;
    color: #7b7b7b;
    padding-bottom: 2%;
}

.menudetail__detail--foodimg{
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10%;
}

.menudetail__detail--line{
    border-top: 2px solid #999999;
    padding-bottom: 2%;
    text-align: left;
}

.menudetail__detail{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}

.menudetail__detail--addtocartbutton{
    background-color:#e4dac2;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    width: 250px;
    height: 40px;
    cursor: pointer;
    margin-top : 2%;
}

.menudetail__detail--addtocartbutton:hover{
    opacity: 0.8;
}

.menudetail_detail_description{
    text-align: left;
    padding-right: 10%;
    padding-bottom: 2%;
}

.menudetail__detail__calories{
    padding-bottom: 2%;
}
.menudetaiil__summary--row{
    padding-top: 2%;
}

.menudetaiil__summary--col{
    border-right: 2px solid #999999;
    height: 70px;
    font-weight: bold;
}

a{
    color: black;
}

.menudetail__detail__price{
    font-weight: bold;
}