@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

.footer-set
{
    background-color: #f9f8f8;
    font-family: 'Quicksand', sans-serif;
    height: 220px;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.text-left
{
    font: #7b7b7b;
    width: 220px;
    top: 20px;
    left: 30px;
    position: relative; 
    padding-bottom: 10px;
}

.p1
{
    font-size: 16px;
}

.p2
{
    font-size: 15px;
}

.topright {
    position: absolute;
    top: 20px;
    right: 60px;
    font-size: 16px;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 60px;
    font-size: 14px;
}

.link {
    padding-left: 15px; 
    color: #7b7b7b 
}

