.topic{
    font-size: 5vw;
    font-weight: bold;
    position: relative;
    margin-top: 50px;
}

.set-screen-show {
  background: url("/img/bg/food-background-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1% 0 5% 0 ;
  min-height: calc(100vh - 155px);
  background-attachment: fixed;
  background-position :  top left; 
}