@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.carousel {
  position: relative;
  background-color: transparent;
  font-family: "Quicksand", sans-serif;
}

.txt__slide {
  margin-top: 40px;
  font-weight: bold;
}

.carousel-inner .carousel-item {
  height: 400px;
}

.carousel-inner .carousel-item .carousel-caption {
  opacity: 0;
  transition: 0.8s all ease-in-out 0.1s;
}

.carousel-inner .carousel-item.active .carousel-caption {
  opacity: 1;
  transition: 0.8s all ease-in-out 0.1s;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.carousel-image-1 {
  background: url("../carousel/carousel_4.png") no-repeat center center fixed;
  background-size: cover;
}

.carousel-image-2 {
  background: url("../carousel/carousel_5.jpg") center center fixed;
  background-size: cover;
}

.carousel-image-3 {
  background: url("../carousel/carousel_7.jpg") center center fixed;
  background-size: cover;
}

@media (max-width: 420px) {
  .txt__slide {
    font-size: 4rem;
  }
}

@media (max-width: 325px) {
  .txt__slide {
    font-size: 3rem;
  }
}
