@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.carousel {
  position: relative;
  background-color: transparent;
  /* overflow: hidden; */
  font-family: "Quicksand", sans-serif;
}

.txt__slide {
  margin-top: 40px;
  font-weight: bold;
}

.linebreak {
  width: 158%;
  height: 6px;
  background-color: white;
}

.carousel-item {
  height: 400px;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.carousel-image-1 {
  background: url("../carousel/carousel_1.jpg") no-repeat center center fixed;
  background-size: cover;
}

.carousel-image-2 {
  background: url("../carousel/carousel_2.jpg") center center fixed;
  background-size: cover;
}

.carousel-image-3 {
  background: url("../carousel/carousel_3.jpg") center center fixed;
  background-size: cover;
}
