@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.carousel {
  position: relative;
  background-color: transparent;
  /* overflow: hidden; */
  font-family: "Quicksand", sans-serif;
}

.carousel-item {
  height: 400px;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.carousel-image-1 {
  background: url("../carousel/carousel_1.png") no-repeat center center fixed;
  background-size: cover;
}

.carousel-image-2 {
  background: url("../carousel/carousel_2.png") center center fixed;
  background-size: cover;
}

.carousel-image-3 {
  background: url("../carousel/carousel_3.png") center center fixed;
  background-size: cover;
}
