@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
@media only screen {
  * {
    box-sizing: border-box;
  }

  .grid-cardmenu {
    display: grid;
    grid-template-rows: 80% 20%;
    margin: 3%;
  }

  .grid-description {
    display: grid;
    grid-template-columns: 80% 20%;
  }

  .cardmenu__text {
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    text-align: center;
  }

  .cardmenu__image {
    cursor: pointer;
    text-align: center;
  }

  .cardmenu__image--border {
    border-radius: 8px;
    width: 75%;
  }

  .cartmenu__cart {
    cursor: pointer;
  }

  .cartmenu__button__delete {
    cursor: pointer;
  }

  div.inline {
    float: left;
  }

  .menu-name {
    font-weight: bold;
  }

  .cardmenu__undermenu {
    padding: 0 15%;
    margin-top: 7px;
  }

  .on-click {
    width: 25px;
    height: 25px;
    -webkit-transition: width 200ms, height 200ms;
    transition: width 200ms, height 200ms;
  }

  .on-click:hover {
    width: 32px;
    height: 32px;
  }

  .on-click-img {
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-transition: width 200ms, height 200ms, margin 200ms;
    transition: width 200ms, height 200ms, margin 200ms;
  }

  .on-click-img:hover {
    width: 108%;
    height: 108%;
    margin: -4% -4% 0 -4%;
  }
}
