@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@media only screen {
    * {
        box-sizing: border-box;
    }

    .grid-cardmenu {
        display: grid;
        grid-template-rows: 80% 20%;
        /* grid-gap: 3%; */
        margin: 3%;
    }

    .grid-description {
        display: grid;
        grid-template-columns: 80% 20%;
    }

    .cardmenu__text{
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
        text-align: center;
    }
    
    .cardmenu__image{    
        cursor: pointer;
        text-align: center;
    }
    
    .cardmenu__image--border{
        border-radius: 8px;
         width: 75%
    }
    
    .cartmenu__cart{
        cursor: pointer;
        /* margin-right: 50%; */
    }
    
    .cartmenu__button__delete{
        cursor: pointer;
        /* margin-right: 50%; */
    }
    
    div.inline{
        float: left;
    }
    
    .cardmenu__undermenu--minwidth{
        padding: 0 15%;
    }
}
