.button--save:disabled {
  background-color: #c0c0c0;
}

.button--save {
  /* border: 1.5px solid gray; */
  color: gray;
  background-color: #ffe6cc;
  padding: 5px 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
