.button--save:disabled {
  background-color: #c0c0c0;
}

.button--save {
  color: gray;
  background-color: #ffe6cc;
  padding: 5px 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.modal {
  z-index: 20;
}

.modal-backdrop {
  z-index: 10;
}
