@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.login__text {
  margin-bottom: 3%;
  font-weight: bold;
  font-size: 125%;
  font-family: "Quicksand", sans-serif;
}

input[type=text], input[type=password] {
  left: 50%;
  width: 105%;
}

.submit__login--button {
  background-color: #ccc0a5;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  padding: 5px;
  width: 50%;
  min-width: 100px;
  font-family: "Quicksand", sans-serif;
  height: auto;
  margin-bottom: 5%;
}

.submit__login--button:hover {
  background-color: #d3c4be;
}