@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.login__text {
  margin-bottom: 3%;
  font-weight: bold;
  font-size: 125%;
  font-family: "Quicksand", sans-serif;
}

input[type=text], input[type=password] {
  left: 50%;
  width: 105%;
}

.submit__login--button:hover {
  background-color: #d3c4be;
}

.button-login {
  /* width: 50%;
  min-width: 100px; */
  border-radius: 10px;
  background-color: #ccc0a5;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 10%;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 8%;
  margin-top: 3%;
  height: auto;
}

.button-login span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-login span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-login:hover span {
  padding-right: 25px;
}

.button-login:hover span:after {
  opacity: 1;
  right: 0;
}