@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.login__box {
  background-color: #f3ece7;
  border-radius: 30px;
  padding-top: 40px;
  padding-right: 50px;
  padding-left: 50px;
  width: 70%;
  height: auto;
  max-width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login__text {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}

.login__text--box {
  font-family: "Quicksand", sans-serif;
}

.submit__login--button {
  background-color: #ccc0a5;
  border: none;
  font-weight: bold;
  padding: 5px;
  width: 90%;
  min-width: 100px;
  font-family: "Quicksand", sans-serif;
  /* margin-bottom: 5px; */
  /* min-width: 90%; */
  height: auto;
}

.submit__login--button:hover {
  background-color: burlywood;
}

.google__login--button {
  margin-top: 10px;
  width: 70%;
  min-width: 150px;
  height: auto;
}

.google__login--button:hover {
  filter: grayscale(25%);
}

.facebook__login--button {
  margin-top: 10px;
  width: 70%;
  min-width: 150px;
  margin-bottom: 50px;
  height: auto;
}

.facebook__login--button:hover {
  filter: grayscale(25%);
}

.login__box__container {
  position: relative;
  height: 100vh;
}
