@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.choice-box {
  background-color: #f3ece7;
  padding: 20px 14% 20px 14%;
}

.button-choice {
  width: 60%;
  /* height: 2em; */
  min-width: 80px;
  border: none;
  color: #7b7b7b;
  margin-bottom: 20px;
  font-size: 1.5vw;
  font-weight: bold;
  background-color: #e4dac2;
  cursor: pointer;
}

.btn--active,
.btn:hover {
  background-color: #d3c4be;
}

.img-choice {
  width: 60%;
  margin: 7%;
}
