@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.button {
  width: 140px;
  height: 46px;
  border: none;
  color: #7b7b7b;
  font-size: 20px;
  font-weight: bold;
  background-color: #e4dac2;
  cursor: pointer;
  margin-bottom: 20px;
}

.grid-choice {
  display: grid;
  grid-template-columns: auto auto auto;
}

.btn--active,
.btn:hover {
  background-color: #d3c4be;
}

.choice-box {
  background-color: #f3ece7;
  padding: 20px 14% 20px 14%;
}

.img-choice {
  width: 75%;
  margin: 7%;
}