@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.set-screen {
  background: url("/img/register/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7% 0 7% 0;
  min-height: calc(100vh - 155px);
  background-attachment: fixed;
  background-position: top left;
}

.addmargin {
  margin: 15px 0 15px 0;
}

.center {
  margin: 0 auto 0 auto;
}

.profilepic-edit {
  width: 40%;
}

.userpic-edit {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 5%;
  object-fit: cover;
}

.choice-group {
  width: 100%;
}

.choice {
  background-color: #fff5ee;
  padding: 10% 0 10% 0;
}

.editprofile-box {
  width: 40%;
  /* margin: 0 auto 0 auto;  */
  background-color: #f3ece7;
  border-radius: 12px;
  /* padding: 20px; */
  font-family: "Quicksand", sans-serif;
  min-width: 300px;
  padding: 3% 2% 4% 2%;
  margin: 0 auto 0 auto;
}

a {
  color: #7b7b7b;
}

.menupro {
  width: 200px;
  border-radius: 8px;
  background-color: #f3ece7;
}

.menulink:hover {
  border-radius: 8px;
  background-color: #e4dac2;
}

.form {
  font-size: 18px;
}

.form-left {
  padding-left: 30px;
  padding-right: 30px;
}

.text-form-left {
  width: 40%;
}

.form-right {
  padding-left: 30px;
  padding-right: 30px;
}

.text-form-right {
  text-align: left;
}

.payment {
  width: 41%;
  text-align: left;
  padding-left: 15px;
}

.exp {
  width: 20%;
  padding-left: 15px;
}

.button-confirm {
  background-color: #e4dac2;
  color: #7b7b7b;
  border: none;
  width: 130px;
  font-weight: bold;
  border-radius: 8px;
}

.addr-dropdown {
  width: 60%;
  min-width: 100px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.btn-upload {
  border: none;
  color: gray;
  background-color:#ffe6cc;
  padding: 5px 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

input[type="text"] {
  border-radius: 8px;
}

input[type="password"] {
  border-radius: 8px;
}

input[type="email"] {
  border-radius: 8px;
}

input[type="textarea"] {
  border-radius: 8px;
}

label {
  font-weight: bold;
}

.modal {
  z-index: 20;
}
.modal-backdrop {
  z-index: 10;
}

.edit-list__addr {
  margin: 3% auto;
}

.addr-list {
  text-align: center;
}
