@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.set-screen {
  background: url("/img/register/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7% 0 7% 0;
  min-height: calc(100vh - 155px);
  background-attachment: fixed;
  background-position: top left;
}

.addmargin {
  margin: 15px 0 15px 0;
}

.center {
  margin: 0 auto 0 auto;
}

.userpic-edit {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 5%;
  object-fit: cover;
}

.editprofile-box {
  width: 40%;
  background-color: #f3ece7;
  border-radius: 12px;
  font-family: "Quicksand", sans-serif;
  min-width: 300px;
  padding: 3% 2% 4% 2%;
  margin: 0 auto 0 auto;
}

.button-confirm {
  background-color: #e4dac2;
  color: #7b7b7b;
  border: none;
  width: 130px;
  font-weight: bold;
  border-radius: 8px;
}

.addr-dropdown {
  width: 60%;
  min-width: 100px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.btn-upload {
  border: none;
  color: gray;
  background-color: #ffe6cc;
  padding: 5px 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

input[type="text"] {
  border-radius: 8px;
}

input[type="password"] {
  border-radius: 8px;
}

input[type="email"] {
  border-radius: 8px;
}

input[type="textarea"] {
  border-radius: 8px;
}

label {
  font-weight: bold;
}

.edit-list__addr {
  margin: 3% auto;
}

.addr-list {
  text-align: center;
}
