@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.navbar {
  background-color: rgba(249, 248, 248, 0.8);
  /* background-color: #f9f8f8; */
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar__link {
  color: black;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.userpic-nav {
  width: 18px;
  opacity: 0.8;
}

.navbar__link:hover {
  color: black;
}

.navbar__item:hover {
  background-color: #efeeee;
  border-radius: 8px;
}

.navbar__icon {
  width: 1.4rem;
}
