@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

.navbar {
  background-color: rgba(249, 248, 248, 0.8);
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  padding-top: 2px;
  padding-bottom: 4px;
}

.navbar__userpic {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 2%;
  object-fit: cover;
}

.navbar__link {
  color: black;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.navbar__link:hover {
  color: black;
}

.navbar__item:hover {
  background-color: #efeeee;
  border-radius: 8px;
}

.navbar__icon {
  width: 1.4rem;
}

