.cardcartbox{
    font-weight: bold;
    font-size: 15px;
}
.img__block{
    display: inline-block;
    width: 20%;
    text-align: right;
}

.cardcart__image{
    border-radius: 4px;
    min-width: 50px;
}

.rowcaard{
    min-width: 800px;
}
.menuname__block{
    width: 20%;
}

.menuprice{
    text-align: center;
}

.imgminusbutton{
    height: 5%;
}

.editamount{
    min-width: 160px;
}
.minusbutton{
    cursor: pointer;
    padding-left: 15%;
    padding-right: 10%;
}

.addbutton{
    cursor: pointer;
    text-align: left;
}

.form-group-cardcart{
    padding-right: 10%;
    text-align: center;
}

.cardcart__editamount__price{
    text-align: left;
}


